
@mixin pirmasAnimation() {
    width: 200px;
    height: 200px;
    animation-name: pirmas;
    animation-duration: 4s;
    position: absolute;
    @keyframes pirmas {
        0%   { left:0px; top:0px; transform: rotate(0deg);}
        100%  { left:200px; top:0px; transform: rotate(360deg);}
    }
}

@mixin antrasAnimation() {
    width: 400px;
    height: 400px;
    animation-name: antras;
    animation-duration: 4s;
    position: absolute;
    bottom: 0px;
    left: 800px;
    @keyframes antras {
        0% {bottom: 0px; left: 800px;}
        100% {bottom: 900px; left: 1500px;}
    }
}

@mixin treciasAnimation() {
    animation-name: trecias;
    animation-duration: 4s;
    position: absolute;
    top: 0px;
    left: 600px;
    font-size: 100px;
    @keyframes trecias {
        0% {top: 0px; left: 600px; transform: rotate(0deg); color: black;}
        100% {top: 500px; left: 600px; transform: rotate(360deg); color: rgb(255, 0, 157);}
    }
}


