@import 'var', 'mixins';

.container{
    height: $customVWheight;
    background-color: $customColor;

    .pirm {
        @include pirmasAnimation()
      }

    .antr {
        @include antrasAnimation()
      }

      .item {
        @include treciasAnimation()
      }

      h1 {
          font-size: 150px;
          animation-name: trecias;
      }
}
